div nav {
    box-sizing: border-box;
}
.nav {
    width: 100%;
    height: 80px;
    background-color: #795548;
    font-family: 'Pretendard-SemiBold';
    font-size: 1.5rem;
    padding-top: 20px;
    padding-left: 40px;
}
.link {
    color: white; 
    text-decoration: none;
    position: relative;
    transition: 0.5s;
}
.link::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0px;
    right: -20px;
    transition: 0.5s;
}
.link:hover {
    padding-left: 10px;
    transition: 0.5s;
}
.link:hover::after {
    opacity: 1;
    left: 10;
}


.container {
    padding-top: 200px;
    padding-left: 200px;
}

.button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
    margin-bottom: 50px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}

.content {
    font-size: 20px;
    font-family: 'Pretendard-SemiBold';
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}